:root {
	--color-white-bone: #f8f8f8;
	--color-light-green: #aec957;
	--color-beige: #e2dbac;
	--color-green: #6e9a42;
	--color-dark-green: #387c08;
	--color-pine-green: #2c6705;
	--color-gold: #ffcf40;
}
::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: black;
	opacity: 1; /* Firefox */
}
html,
body {
	height: 100%;
}
.full-height {
	height: 100%;
	height: -moz-calc(100vh - 56px);
	height: -webkit-calc(100vh - 56px);
	height: -o-calc(100vh - 56px);
	height: calc(100vh - 56px);
}
.body {
	font-family: "Roboto", sans-serif;
}
a {
	text-decoration: none;
	color: inherit;
}
a:hover {
	text-decoration: underline;
	color: inherit;
}
p {
	display: inline;
}
.mainBody {
	height: 90vh;
}
.loginMain {
	margin-top: 8vh;
}
.wrap {
	margin-top: 3.25rem;
	background-color: var(--color-green);
}
.wrap2 {
	background-color: var(--color-beige);
	color: var(--color-dark-green);
}

.logoImage {
	width: 100px;
}
.mainLogo {
	width: 15vw;
}
.navButtonsPosition {
	margin-left: auto;
}
.loginButtonColor {
	color: var(--color-dark-green);
	text-decoration: none;
}
.loginColor:hover {
	color: var(--color-gold);
	text-decoration: none;
}
#heroRegister {
	background-color: var(--color-gold);
	width: 100%;
	border: 0;
}
#heroRegister:hover {
	background-color: var(--color-white-bone);
	border: 0;
}
.bamboo {
	width: 5vw;
	height: 55vh;
}
.bambooLogin {
	width: 4.5vw;
	height: 43vh;
}
.front {
	z-index: 3;
	position: relative;
}
.shareIcons {
	font-size: 2rem;
	margin-right: 1em;
}
.bgLightGreen {
	background-color: var(--color-light-green);
}
.bgGreen {
	background-color: var(--color-green);
}
