.navregister {
	background-color: #ffcf40;
	color: black;
	border: 0;
}
.navregister:hover {
	background-color: #6e9a42;
	color: #f8f8f8;
}
.wrapper {
	position: relative;
	padding-top: 6rem;
	padding-bottom: 6rem;
}

.wrapper h1 {
	font-size: 2rem;
}

@media (min-width: 992px) {
	.wrapper {
		padding: 6rem 0;
	}
	.wrapper h1 {
		font-size: 3rem;
	}
}
.mainLogo {
	width: 400px;
}
.bamboo {
	width: 85px;
	height: 540px;
	position: relative;
	z-index: 3;
}
.bambooLogin {
	width: 80px;
	height: 480px;
	position: relative;
	z-index: 3;
}

@media (max-width: 992px) {
	.bamboo {
		display: none;
	}
	.bambooLogin {
		display: none;
	}
}
footer.footer {
	padding-top: 4rem;
	padding-bottom: 4rem;
}
.navregister {
	background-color: #ffcf40;
	color: black;
	border: 0;
}
.navregister:hover {
	background-color: #6e9a42;
	color: #f8f8f8;
}
.incorrectFormInput {
	background-color: rgb(252, 150, 150);
	border: 0;
}
.incorrectCheckbox {
	border: 2px rgb(255, 100, 100) solid;
	background-color: rgb(252, 150, 150);
	color: black;
	padding: 1rem;
	border-radius: 5px;
}
