.navregister {
	background-color: #ffcf40;
	color: black;
	border: 0;
}
.navregister:hover {
	background-color: #6e9a42;
	color: #f8f8f8;
}

.wrapper-login {
	position: relative;
	padding-top: 2rem;
	padding-bottom: 6rem;
}

.wooden-background {
	background-image: url("../resources/wooden-bg-blank.png");
	background-size: cover;
	background-attachment: fixed;
	background-position: top;
}

.stems-background {
	background-image: url("../resources/wooden-bg-stems.png");
	background-size: cover;
	background-position: top;
}

@media (min-width: 992px) {
	.wrapper-login {
		padding-top: 4.75rem;
		padding-bottom: 13.75rem;
	}
}

.wrapper-register {
	position: relative;
	padding-top: 2rem;
	padding-bottom: 6rem;
}

@media (min-width: 992px) {
	.wrapper-register {
		padding-top: 4.75rem;
		padding-bottom: 6.75rem;
	}
}

.modal-button
{
	text-decoration: none;
	width: 100%;
}

.mainLogo {
	width: 400px;
}
.bamboo {
	width: 85px;
	height: 540px;
	position: relative;
	z-index: 3;
}
.bambooLogin {
	width: 80px;
	height: 480px;
	position: relative;
	z-index: 3;
}

@media (max-width: 992px) {
	.bamboo {
		display: none;
	}
	.bambooLogin {
		display: none;
	}
}
footer.footer {
	padding-top: 4rem;
	padding-bottom: 4rem;
}
.navregister {
	background-color: #ffcf40;
	color: black;
	border: 0;
}
.navregister:hover {
	background-color: #6e9a42;
	color: #f8f8f8;
}

.incorrectFormInput {
	background-color: rgb(252, 150, 150);
	border: 0;
}

.incorrectCheckbox {
	background-color: rgb(252, 150, 150);
	color: black;
	padding: 0.5rem;
	border-radius: 5px;
}
